.ipynb_checkpoints
*.ipynb_checkpoints
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.DS_Store
*.iml
/.project
/.pydevproject
package-lock.json
